<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./../../../lib/bootstrap.php">
    <testsuites>
        <testsuite name="Cmfcmf Media Module">
            <directory>./Tests</directory>
            <exclude>./Tests/Entity/*/Repository</exclude>
            <exclude>./vendor</exclude>
        </testsuite>
    </testsuites>
</phpunit>
