<div>
    <input type="checkbox" id="active_cmfcmfmediamodule" name="active[CmfcmfMediaModule]" value="1" {% if active %}checked="checked"{% endif %} />
    <label for="active_cmfcmfmediamodule">{{ __('Media') }}</label>
</div>
