{% if renderRaw|default %}
    <form method="post" action="{{ path('zikulasearchmodule_search_execute') }}">
        <div class="input-group pull-right col-md-4 col-lg-3">
            <input type="hidden" name="active[CmfcmfMediaModule]" value="1" />
            <input type="text" class="form-control" name="q" placeholder="{% trans %}Search...{% endtrans %}" />
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit">{% trans %}Go!{% endtrans %}</button>
            </span>
        </div>
    </form>
    <div class="clearfix d-md-none d-lg-none"></div>
{% endif %}
