<h3>{{ __('Hooked media collections') }}</h3>

{% include 'CmfcmfMediaModule:Collection:treeSelect.html.twig' with {'hookedObject': hookedObject, 'inputName': "cmfcmfmediamodule[collections]", 'selected': selectedCollections} %}
