<h3>{% trans %}Hooked media collections{% endtrans %}</h3>

{% include '@CmfcmfMediaModule/Collection/treeSelect.html.twig' with {'hookedObject': hookedObject, 'inputName': "cmfcmfmediamodule[collections]", 'selected': selectedCollections} %}
