<h3>{{ __('Hooked media collections', 'cmfcmfmediamodule') }}</h3>

{% include '@CmfcmfMediaModule/Collection/treeSelect.html.twig' with {'hookedObject': hookedObject, 'inputName': "cmfcmfmediamodule[collections]", 'selected': selectedCollections} %}
