{% extends 'CmfcmfMediaModule::base.html.twig' %}
{% block title __('Password required') %}
{% block content %}
    <div class="alert alert-warning">
        {{ __('A password might be required to view this collection.') }}
        {% if canLogin %}
            {{ __('You can also try to login.') }}
        {% endif %}
    </div>
    <form method="get" action="{{ path('cmfcmfmediamodule_collection_password', {id: collection.id, permLevel: permLevel}) }}">
        <div>
            <input type="password" name="password" />
            <button type="submit">{{ __('Check password') }}</button>
        </div>
    </form>
{% endblock %}
