{{ pageAddAsset('javascript', zasset('@CmfcmfMediaModule:js/vendor/jstree/jstree.min.js'), 98) }}
{{ pageAddAsset('stylesheet', zasset('@CmfcmfMediaModule:js/vendor/jstree/themes/default/style.min.css'), 98) }}

{{ pageAddAsset('javascript', zasset('@CmfcmfMediaModule:js/Collection/TreeSelect.js')) }}

<!-- <input type="text" class="form-control" id="cmfcmfmedia-hook-collection-tree-search" /> -->
<div id="cmfcmfmedia-hook-collection-tree"{% if hookedObject is defined %} data-hooked-object-id="{{ hookedObject.id|e('html_attr') }}"{% endif %}></div>
