<blockquote class="twitter-tweet">
    <a href="{{ entity.url|e('html_attr') }}">
        {{ placeholder|default('The tweet is loading.'|trans) }}
    </a>
</blockquote>
{% if usePageAddAsset %}
    {{ pageAddAsset('footer', '<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>') }}
{% else %}
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endif %}
