{% if hookedObjectMedia is not empty %}
    <h3>{{ __('Media') }}</h3>
    {% for hookedObjectMedium in hookedObjectMedia %}
        <h4>{{ hookedObjectMedium.media.title }}</h4>
        {{ mediaTypeCollection.mediaTypeFromEntity(hookedObjectMedium.media).embedCode(hookedObjectMedium.media, 'medium')|raw }}
    {% endfor %}
{% endif %}
