.cmfcmfmedia-display-lightgallery > a {
    text-decoration: none;
    color: inherit;
}

.cmfcmfmedia-display-lightgallery > a > img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.cmfcmfmedia-display-lightgallery > a > img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.lg-sub-html h4 {
    color: rgb(238, 238, 238);
}
.lg-sub-html .hidden {
    display: block !important;
}