<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
      {% include header.html %}
      <div class="ribbon mdl-color--primary"></div>
      <main class="demo-main mdl-layout__content">
        {{ content }}
      </main>
      {% include footer.html %}
    </div>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <script src="{{ '/js/tables.js' | prepend: site.baseurl }}"></script>
  </body>
</html>
