{% extends 'CmfcmfMediaModule:Settings:settings.html.twig' %}
{% block settings_content %}
    {% if scribiteInstalled %}
        <div class="alert alert-success">{{ __('It seems like the Scribite / CKEditor integration is working! Make sure you use a "special" or "full" toolbar.') }}</div>
        {% if not descriptionEscapingStrategyForCollectionOk %}
            <div class="alert alert-danger">{{ __('You should set "Collection description escaping strategy" to "As is" for Scribite to work properly!') }}</div>
        {% endif %}
        {% if not descriptionEscapingStrategyForMediaOk %}
            <div class="alert alert-danger">{{ __('You should set "Media description escaping strategy" to "As is" for Scribite to work properly!') }}</div>
        {% endif %}
    {% else %}
        <div class="alert alert-info">
            {{ __('Scribite is not installed. You may download it from ') }}
            <a href="https://github.com/zikula-modules/Scribite">GitHub</a>.
        </div>
    {% endif %}
{% endblock %}
