{% extends '@CmfcmfMediaModule/adminBase.html.twig' %}
{% block title 'Settings'|trans %}
{% block content %}
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link{% if app.request.attributes.get('_route') == 'cmfcmfmediamodule_settings_requirements'%} active{% endif %}" href="{{ path('cmfcmfmediamodule_settings_requirements') }}">
                <i class="fas fa-check fa-fw"></i> {% trans %}Requirements{% endtrans %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if app.request.attributes.get('_route') == 'cmfcmfmediamodule_settings_general'%} active{% endif %}" href="{{ path('cmfcmfmediamodule_settings_general') }}">
                <i class="fas fa-wrench fa-fw"></i> {% trans %}General{% endtrans %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if app.request.attributes.get('_route') == 'cmfcmfmediamodule_settings_scribite'%} active{% endif %}" href="{{ path('cmfcmfmediamodule_settings_scribite') }}">
                <i class="fas fa-feather-alt fa-fw"></i> {% trans %}Scribite{% endtrans %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if app.request.attributes.get('_route') == 'cmfcmfmediamodule_upgrade_doupgrade'%} active{% endif %}" href="{{ path('cmfcmfmediamodule_upgrade_doupgrade') }}">
                <i class="fas fa-download fa-fw"></i> {% trans %}Upgrade{% endtrans %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://cmfcmf.github.io/MediaModule/docs/">
                <i class="fas fa-external-link-alt fa-fw"></i> {% trans %}Help and Docs{% endtrans %}
            </a>
        </li>
    </ul>
    {% block settings_content %}{% endblock %}
{% endblock %}
