{% extends 'CmfcmfMediaModule::base.html.twig' %}
{% block content %}
    {% form_theme form 'CmfcmfMediaModule:Form:bootstrap_3.html.twig' %}
    <div class="alert alert-info">You are about to upload <em>{{ entity.title }}</em> to YouTube.</div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}