{% extends 'CmfcmfMediaModule::adminBase.html.twig' %}
{% block title __('Choose importer') %}
{% block content %}
    <div class="list-group">
        {% for importer in importers %}
            <a href="{{ path('cmfcmfmediamodule_import_execute', {importer: importer.id}) }}" class="list-group-item">
                <h4 class="list-group-item-heading">{{ importer.title }}</h4>
                <p class="list-group-item-text">{{ importer.description }}</p>
            </a>
        {% endfor %}
    </div>
{% endblock %}
